# Environment variables
.env
.env.*
!.env.example

frontend/.env.local
frontend/.env.*.local
!frontend/.env.local.example

backend/.env
backend/.env.*
!backend/.env.example

# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
.next/

# IDE
.vscode/
.idea/